:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #212529;
  background-color: #f8f9fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  background-color: #f8f9fa;
}

a {
  text-decoration: none;
}

button,
input,
select {
  font: inherit;
}